@charset "ISO-8859-1";

body {
	font-family: 'Arial', sans-serif;
	background-color: #f4f4f4;
	margin: 0;
	padding: 0;
	text-align: center;
}

p {
	color: #666;
    margin-bottom: 30px;
}

.btnConnection {
	margin: 0 10px;
	padding: 10px 20px;
	font-size: 16px;
	background-color: #4caf50;
	color: #fff;
	border: none;
	cursor: pointer;
	border-radius: 5px;
	text-decoration: none;
}

.btnLogout {
	background-color: #f44336;
	margin: 0 10px;
	padding: 10px 20px;
	font-size: 16px;
	color: #fff;
	border: none;
	cursor: pointer;
	border-radius: 5px;
	text-decoration: none;
}

.btnInscription {
	background-color: #3498db;
	margin: 0 10px;
	padding: 10px 20px;
	font-size: 16px;
	color: #fff;
	border: none;
	cursor: pointer;
	border-radius: 5px;
	text-decoration: none;
}