@charset "ISO-8859-1";

body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    margin-top: 100px;
    padding: 0;
}

h2 {
	color: #333;
	margin-bottom: 10px;
	text-align: center;
}

.panelFieldsCategory {
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 50px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: inline-block;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
}

.inputText {
    width: 100%;
    padding: 5px;
}

.selectMenu {
	width: 100%;
    height: 30px;
}

.commandButton {
    background-color: #4caf50;
    color: #fff;
    border: none;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 30px;
    width: 130px;
    margin-bottom: 70px;
}

.container {
    display: flex;
    justify-content: space-between;
}

.left {
	width: 50%;
    text-align: center;
}

.right {
    width: 40%;
    float: right;
    margin-right: 50px;
}

.messages {
    color: red;
    list-style-type: none;
    
}

/* Cacher le bouton radio par défaut */
input[type="radio"] {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    border: 2px solid #ccc;
    outline: none;
}

/* Style des boutons radio sélectionnés */
input[type="radio"]:checked {
    background-color: rgb(128, 255, 128);
}

/* Style du label du bouton radio */
input[type="radio"] + label {
    margin-left: 5px;
    cursor: pointer;
}